// CDN assets
@import "//fonts.googleapis.com/css?family=Oswald:300,400,700|Raleway:300";
@import "//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css";

// Color names
@import "colors";

// Easing
@import "easing";

// Bootstrap
$font-family-sans-serif: "Oswald", Helvetica, Arial, sans-serif !default;
@import "bootstrap-sass";


// Animation.scss
// @import "animate-scss/src/animate";

// vars
$imgurl: "/assets/img";

// mixins
@mixin center-v($enable: true) {
  @if $enable {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: static;
    top: 0;
    transform: translateY(0);
  }
}
