// CDN assets
@import "//fonts.googleapis.com/css?family=Lato:300,700";

// Color names
@import "colors";

// ripple effect
@import "jquery.ripple/jquery.ripple.scss";

// Easing
// @import "easing";

// Bootstrap
$body-bg: palette(Brown, 700);
$text-color: palette(Brown, 200);
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
@import "bootstrap-sass";

// Animation.scss
$enable-all-modules: true;
@import "animate-scss";

// vars
$imgurl: "/assets/img";

// mixins
@mixin center-v($enable: true) {
  @if $enable {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: static;
    top: 0;
    transform: translateY(0);
  }
}
