// CDN assets
@import "//fonts.googleapis.com/css?family=Oswald:300,400,700|Raleway:300";
@import "//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css";

// Color names
@import "colors";

// Normalize
@import "normalize";

// Bourbon stuffs
@import "bourbon";

// Neat Settings
@import "neat-settings";

// Neat
@import "neat";

// Bitters Variables
@import "bitters-variables";

// Extends
@import "bitters/app/assets/stylesheets/extends/button";
@import "bitters/app/assets/stylesheets/extends/clearfix";
@import "bitters/app/assets/stylesheets/extends/errors";
@import "bitters/app/assets/stylesheets/extends/flashes";
@import "bitters/app/assets/stylesheets/extends/hide-text";

// Typography and Elements
@import "bitters/app/assets/stylesheets/typography";
// @import "bitters/app/assets/stylesheets/forms";
// @import "bitters/app/assets/stylesheets/tables";
@import "bitters/app/assets/stylesheets/lists";
@import "bitters/app/assets/stylesheets/buttons";

// Refills
// @import "refills/source/stylesheets/refills/textures";

// Easing
@import "easing";

// Animation.scss
// @import "animate-scss/src/animate";

// vars
$imgurl: "/assets/img";

// mixins
@mixin center-v($enable: true) {
  @if $enable {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    position: static;
    top: 0;
    transform: translateY(0);
  }
}
