// THEMUHIBBAIN
$lcm-red:       #C02646;
$lcm-gray:      #6d6f72;
$lcm-gray-dark: #808284;
$lcm-darkblue:  #2a3035;

// +-------------------------------------------------------------------------+
// | Chameleon colors - https://github.com/VAlexander/Chameleon              |
// +-------------------------------------------------------------------------+

$ch-red-1: #de352f;
$ch-red-2: #b02621;

$ch-orange-1: #de691b;
$ch-orange-2: #c63f04;

$ch-yellow-1: #fdc40a;
$ch-yellow-2: #fd9709;

$ch-sand-1: #ebd7a5;
$ch-sand-2: #cbb683;

$ch-navy-1: #28384b;
$ch-navy-2: #212f3e;

$ch-black-1: #202020;
$ch-black-2: #1c1c1c;

$ch-magenta-1: #8840a7;
$ch-magenta-2: #7a2b9d;

$ch-teal-1: #2e5b6d;
$ch-teal-2: #294f5e;

$ch-sky-1: #2b84d2;
$ch-sky-2: #226baa;

$ch-green-1: #2cc65e;
$ch-green-2: #25a24d;

$ch-mint-1: #1fb18a;
$ch-mint-2: #1a9172;

$ch-white-1: #e7ecee;
$ch-white-2: #afb6bb;

$ch-gray-1: #849495;
$ch-gray-2: #6c797a;

$ch-forest-1: #294d32;
$ch-forest-2: #224029;

$ch-purple-1: #6045b8;
$ch-purple-2: #483290;

$ch-brown-1: #4b3527;
$ch-brown-2: #3e2d21;

$ch-plum-1: #4b244b;
$ch-plum-2: #3d1e3e;

$ch-watermelon-1: #e85967;
$ch-watermelon-2: #3e2d21;

$ch-lime-1: #96bd2d;
$ch-lime-2: #7da41a;

$ch-pink-1: #ef61b6;
$ch-pink-2: #c8428c;

$ch-maroon-1: #642220;
$ch-maroon-2: #521b19;

$ch-coffee-1: #91735e;
$ch-coffee-2: #7b5f4c;

$ch-powder-1: #aabcee;
$ch-powder-2: #8899cb;

$ch-blue-1: #3f508f;
$ch-blue-2: #2b3a6e;

// +-------------------------------------------------------------------------+
// | Bootflat colors                                                         |
// +-------------------------------------------------------------------------+
$bluejeans-dark:     #4A89DC;
$bluejeans-light:    #5D9CEC;

$aqua-dark:          #3BAFDA;
$aqua-light:         #4FC1E9;

$mint-dark:          #37BC9B;
$mint-light:         #48CFAD;

$grass-dark:         #8CC152;
$grass-light:        #A0D468;

$sunflower-dark:     #F6BB42;
$sunflower-light:    #FFCE54;

$bittersweet-dark:   #E9573F;
$bittersweet-light:  #FC6E51;

$grapefruit-dark:    #DA4453;
$grapefruit-light:   #ED5565;

$lavender-dark:      #967ADC;
$lavender-light:     #AC92EC;

$pinkrose-dark:      #D770AD;
$pinkrose-light:     #EC87C0;

$lightgray-dark:     #E6E9ED;
$lightgray-light:    #F5F7FA;

$mediumgray-dark:    #AAB2BD;
$mediumgray-light:   #CCD1D9;

$darkgray-dark:      #434A54;
$darkgray-light:     #656D78;


// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

// Greens
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Purples
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;

// Yellows
$flat-sunflower: #F1C40F;

// Oranges
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;

// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$flat-green-1: $flat-turquoise;
$flat-green-2: $flat-green-sea;
$flat-green-3: $flat-emerald;
$flat-green-4: $flat-nephritis;

// Blues
$flat-blue-1: $flat-peter-river;
$flat-blue-2: $flat-belize-hole;
$flat-blue-3: $flat-wet-asphalt;
$flat-blue-4: $flat-midnight-blue;

// Purples
$flat-purple-1: $flat-amethyst;
$flat-purple-2: $flat-wisteria;

// Yellows
$flat-yellow-1: $flat-sunflower;

// Oranges
$flat-orange-1: $flat-orange;
$flat-orange-2: $flat-carrot;
$flat-orange-3: $flat-pumpkin;

// Reds
$flat-red-1: $flat-alizarin;
$flat-red-2: $flat-pomegranate;

// Grays
$flat-gray-1: $flat-clouds;
$flat-gray-2: $flat-silver;
$flat-gray-3: $flat-concrete;
$flat-gray-4: $flat-asbestos;