// THEMUHIBBAIN
$lcm-red:       #C02646;
$lcm-gray:      #6d6f72;
$lcm-gray-dark: #808284;
$lcm-darkblue:  #2a3035;

// +-------------------------------------------------------------------------+
// | Chameleon colors - https://github.com/VAlexander/Chameleon              |
// +-------------------------------------------------------------------------+

$ch-red-1: #de352f;
$ch-red-2: #b02621;

$ch-orange-1: #de691b;
$ch-orange-2: #c63f04;

$ch-yellow-1: #fdc40a;
$ch-yellow-2: #fd9709;

$ch-sand-1: #ebd7a5;
$ch-sand-2: #cbb683;

$ch-navy-1: #28384b;
$ch-navy-2: #212f3e;

$ch-black-1: #202020;
$ch-black-2: #1c1c1c;

$ch-magenta-1: #8840a7;
$ch-magenta-2: #7a2b9d;

$ch-teal-1: #2e5b6d;
$ch-teal-2: #294f5e;

$ch-sky-1: #2b84d2;
$ch-sky-2: #226baa;

$ch-green-1: #2cc65e;
$ch-green-2: #25a24d;

$ch-mint-1: #1fb18a;
$ch-mint-2: #1a9172;

$ch-white-1: #e7ecee;
$ch-white-2: #afb6bb;

$ch-gray-1: #849495;
$ch-gray-2: #6c797a;

$ch-forest-1: #294d32;
$ch-forest-2: #224029;

$ch-purple-1: #6045b8;
$ch-purple-2: #483290;

$ch-brown-1: #4b3527;
$ch-brown-2: #3e2d21;

$ch-plum-1: #4b244b;
$ch-plum-2: #3d1e3e;

$ch-watermelon-1: #e85967;
$ch-watermelon-2: #3e2d21;

$ch-lime-1: #96bd2d;
$ch-lime-2: #7da41a;

$ch-pink-1: #ef61b6;
$ch-pink-2: #c8428c;

$ch-maroon-1: #642220;
$ch-maroon-2: #521b19;

$ch-coffee-1: #91735e;
$ch-coffee-2: #7b5f4c;

$ch-powder-1: #aabcee;
$ch-powder-2: #8899cb;

$ch-blue-1: #3f508f;
$ch-blue-2: #2b3a6e;

// +-------------------------------------------------------------------------+
// | Bootflat colors                                                         |
// +-------------------------------------------------------------------------+
$bluejeans-dark:     #4A89DC;
$bluejeans-light:    #5D9CEC;

$aqua-dark:          #3BAFDA;
$aqua-light:         #4FC1E9;

$mint-dark:          #37BC9B;
$mint-light:         #48CFAD;

$grass-dark:         #8CC152;
$grass-light:        #A0D468;

$sunflower-dark:     #F6BB42;
$sunflower-light:    #FFCE54;

$bittersweet-dark:   #E9573F;
$bittersweet-light:  #FC6E51;

$grapefruit-dark:    #DA4453;
$grapefruit-light:   #ED5565;

$lavender-dark:      #967ADC;
$lavender-light:     #AC92EC;

$pinkrose-dark:      #D770AD;
$pinkrose-light:     #EC87C0;

$lightgray-dark:     #E6E9ED;
$lightgray-light:    #F5F7FA;

$mediumgray-dark:    #AAB2BD;
$mediumgray-light:   #CCD1D9;

$darkgray-dark:      #434A54;
$darkgray-light:     #656D78;


// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

// Greens
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;

// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;

// Purples
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;

// Yellows
$flat-sunflower: #F1C40F;

// Oranges
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;

// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;

// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$flat-green-1: $flat-turquoise;
$flat-green-2: $flat-green-sea;
$flat-green-3: $flat-emerald;
$flat-green-4: $flat-nephritis;

// Blues
$flat-blue-1: $flat-peter-river;
$flat-blue-2: $flat-belize-hole;
$flat-blue-3: $flat-wet-asphalt;
$flat-blue-4: $flat-midnight-blue;

// Purples
$flat-purple-1: $flat-amethyst;
$flat-purple-2: $flat-wisteria;

// Yellows
$flat-yellow-1: $flat-sunflower;

// Oranges
$flat-orange-1: $flat-orange;
$flat-orange-2: $flat-carrot;
$flat-orange-3: $flat-pumpkin;

// Reds
$flat-red-1: $flat-alizarin;
$flat-red-2: $flat-pomegranate;

// Grays
$flat-gray-1: $flat-clouds;
$flat-gray-2: $flat-silver;
$flat-gray-3: $flat-concrete;
$flat-gray-4: $flat-asbestos;


/**
 * google-material-color v1.2.2
 * https://github.com/danlevan/google-material-color
 */
$palette: (
  Red: (
    50: #FFEBEE,
    100: #FFCDD2,
    200: #EF9A9A,
    300: #E57373,
    400: #EF5350,
    500: #F44336,
    600: #E53935,
    700: #D32F2F,
    800: #C62828,
    900: #B71C1C,
    A100: #FF8A80,
    A200: #FF5252,
    A400: #FF1744,
    A700: #D50000,
  ),
  Pink: (
    50: #FCE4EC,
    100: #F8BBD0,
    200: #F48FB1,
    300: #F06292,
    400: #EC407A,
    500: #E91E63,
    600: #D81B60,
    700: #C2185B,
    800: #AD1457,
    900: #880E4F,
    A100: #FF80AB,
    A200: #FF4081,
    A400: #F50057,
    A700: #C51162,
  ),
  Purple: (
    50: #F3E5F5,
    100: #E1BEE7,
    200: #CE93D8,
    300: #BA68C8,
    400: #AB47BC,
    500: #9C27B0,
    600: #8E24AA,
    700: #7B1FA2,
    800: #6A1B9A,
    900: #4A148C,
    A100: #EA80FC,
    A200: #E040FB,
    A400: #D500F9,
    A700: #AA00FF,
  ),
  Deep Purple: (
    50: #EDE7F6,
    100: #D1C4E9,
    200: #B39DDB,
    300: #9575CD,
    400: #7E57C2,
    500: #673AB7,
    600: #5E35B1,
    700: #512DA8,
    800: #4527A0,
    900: #311B92,
    A100: #B388FF,
    A200: #7C4DFF,
    A400: #651FFF,
    A700: #6200EA,
  ),
  Indigo: (
    50: #E8EAF6,
    100: #C5CAE9,
    200: #9FA8DA,
    300: #7986CB,
    400: #5C6BC0,
    500: #3F51B5,
    600: #3949AB,
    700: #303F9F,
    800: #283593,
    900: #1A237E,
    A100: #8C9EFF,
    A200: #536DFE,
    A400: #3D5AFE,
    A700: #304FFE,
  ),
  Blue: (
    50: #E3F2FD,
    100: #BBDEFB,
    200: #90CAF9,
    300: #64B5F6,
    400: #42A5F5,
    500: #2196F3,
    600: #1E88E5,
    700: #1976D2,
    800: #1565C0,
    900: #0D47A1,
    A100: #82B1FF,
    A200: #448AFF,
    A400: #2979FF,
    A700: #2962FF,
  ),
  Light Blue: (
    50: #E1F5FE,
    100: #B3E5FC,
    200: #81D4FA,
    300: #4FC3F7,
    400: #29B6F6,
    500: #03A9F4,
    600: #039BE5,
    700: #0288D1,
    800: #0277BD,
    900: #01579B,
    A100: #80D8FF,
    A200: #40C4FF,
    A400: #00B0FF,
    A700: #0091EA,
  ),
  Cyan: (
    50: #E0F7FA,
    100: #B2EBF2,
    200: #80DEEA,
    300: #4DD0E1,
    400: #26C6DA,
    500: #00BCD4,
    600: #00ACC1,
    700: #0097A7,
    800: #00838F,
    900: #006064,
    A100: #84FFFF,
    A200: #18FFFF,
    A400: #00E5FF,
    A700: #00B8D4,
  ),
  Teal: (
    50: #E0F2F1,
    100: #B2DFDB,
    200: #80CBC4,
    300: #4DB6AC,
    400: #26A69A,
    500: #009688,
    600: #00897B,
    700: #00796B,
    800: #00695C,
    900: #004D40,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5,
  ),
  Green: (
    50: #E8F5E9,
    100: #C8E6C9,
    200: #A5D6A7,
    300: #81C784,
    400: #66BB6A,
    500: #4CAF50,
    600: #43A047,
    700: #388E3C,
    800: #2E7D32,
    900: #1B5E20,
    A100: #B9F6CA,
    A200: #69F0AE,
    A400: #00E676,
    A700: #00C853,
  ),
  Light Green: (
    50: #F1F8E9,
    100: #DCEDC8,
    200: #C5E1A5,
    300: #AED581,
    400: #9CCC65,
    500: #8BC34A,
    600: #7CB342,
    700: #689F38,
    800: #558B2F,
    900: #33691E,
    A100: #CCFF90,
    A200: #B2FF59,
    A400: #76FF03,
    A700: #64DD17,
  ),
  Lime: (
    50: #F9FBE7,
    100: #F0F4C3,
    200: #E6EE9C,
    300: #DCE775,
    400: #D4E157,
    500: #CDDC39,
    600: #C0CA33,
    700: #AFB42B,
    800: #9E9D24,
    900: #827717,
    A100: #F4FF81,
    A200: #EEFF41,
    A400: #C6FF00,
    A700: #AEEA00,
  ),
  Yellow: (
    50: #FFFDE7,
    100: #FFF9C4,
    200: #FFF59D,
    300: #FFF176,
    400: #FFEE58,
    500: #FFEB3B,
    600: #FDD835,
    700: #FBC02D,
    800: #F9A825,
    900: #F57F17,
    A100: #FFFF8D,
    A200: #FFFF00,
    A400: #FFEA00,
    A700: #FFD600,
  ),
  Amber: (
    50: #FFF8E1,
    100: #FFECB3,
    200: #FFE082,
    300: #FFD54F,
    400: #FFCA28,
    500: #FFC107,
    600: #FFB300,
    700: #FFA000,
    800: #FF8F00,
    900: #FF6F00,
    A100: #FFE57F,
    A200: #FFD740,
    A400: #FFC400,
    A700: #FFAB00,
  ),
  Orange: (
    50: #FFF3E0,
    100: #FFE0B2,
    200: #FFCC80,
    300: #FFB74D,
    400: #FFA726,
    500: #FF9800,
    600: #FB8C00,
    700: #F57C00,
    800: #EF6C00,
    900: #E65100,
    A100: #FFD180,
    A200: #FFAB40,
    A400: #FF9100,
    A700: #FF6D00,
  ),
  Deep Orange: (
    50: #FBE9E7,
    100: #FFCCBC,
    200: #FFAB91,
    300: #FF8A65,
    400: #FF7043,
    500: #FF5722,
    600: #F4511E,
    700: #E64A19,
    800: #D84315,
    900: #BF360C,
    A100: #FF9E80,
    A200: #FF6E40,
    A400: #FF3D00,
    A700: #DD2C00,
  ),
  Brown: (
    50: #EFEBE9,
    100: #D7CCC8,
    200: #BCAAA4,
    300: #A1887F,
    400: #8D6E63,
    500: #795548,
    600: #6D4C41,
    700: #5D4037,
    800: #4E342E,
    900: #3E2723,
  ),
  Grey: (
    50: #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9E,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
  ),
  Blue Grey: (
    50: #ECEFF1,
    100: #CFD8DC,
    200: #B0BEC5,
    300: #90A4AE,
    400: #78909C,
    500: #607D8B,
    600: #546E7A,
    700: #455A64,
    800: #37474F,
    900: #263238,
  ),
  Black: (
    500: #000000,
    Text: rgba(0,0,0,0.87),
    Secondary Text: rgba(0,0,0,0.54),
    Icons: rgba(0,0,0,0.54),
    Disabled: rgba(0,0,0,0.26),
    Hint Text: rgba(0,0,0,0.26),
    Dividers: rgba(0,0,0,0.12),
  ),
  White: (
    500: #ffffff,
    Text: #ffffff,
    Secondary Text: rgba(255,255,255,0.7),
    Icons: #ffffff,
    Disabled: rgba(255,255,255,0.3),
    Hint Text: rgba(255,255,255,0.3),
    Dividers: rgba(255,255,255,0.12),
  ),
);

@function palette($color, $shade: 500) {
  $colorMap: map-get($palette, $color);
  $result: map-get($colorMap, $shade);
  @return $result;
}