@import "neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$large-screen-up: new-breakpoint(min-width $large-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$small-screen-only: new-breakpoint(max-width $medium-screen 4);

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

// shortcuts
$medium-up: $medium-screen-up;
$large-up: $large-screen-up;
$small: $small-screen-only;
$large: $large-screen;
$medium: $medium-screen;
