@charset "utf-8";

// Base
@import "base";

// ==================================================
// Main stylesheet

// base styles
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  border-top: 10px solid #2E2621;

  // background: #fff url(#{$imgurl}/yellow-metal.jpg);
  // background-size: cover;
}

.wrapper {
  // @include center-v;
  // height: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;

  .info {
    margin: 8rem 0 4rem;
    color: $text-color;
    font-size: 1.8rem;
    // letter-spacing: 2px;

    .lead-1 {
      display: inline-block;
      // font-family: "Open Sans Condensed", $font-family-sans-serif;
      font-size: 4rem;
      // font-weight: 700;
      margin: 0 0 2em;
      padding: .4em .8em;
      color: $text-color;
      letter-spacing: 1px;
      // border-radius: 3px;
      border-bottom: 2px solid #2E2621;
      // background: $text-color;
      // color: $body-bg;

      span {
        font-weight: 700;
      }
    }

    .lead-2 {
      display: inline-block;
      padding: .4em .8em;
      background: #2E2621;

    }

    h1 {
      // margin: 2em 0;
      img {
        width: 60%;
        max-width: 300px;
      }
      span {
        font-size: 0;
      }
    }
  }

  .links {
    .contact {
      margin: 2rem 0;
      font-size: 1.8rem;
      letter-spacing: 0.1em;

      span {
        color: rgba($text-color, .4);
        font-size: 1.6rem;
        // letter-spacing: 2px;

        .email {
          color: $text-color;
        }
      }
    }

    .btn-ghost {
      margin: 0 5px 10px;
      border: 2px solid rgba($text-color, .4);
      color: $text-color;
      border-radius: 0;
      // padding: .6em 1.2em;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 3px;
      text-transform: uppercase;
      transition: all .3s;

      &:hover {
        border-color: #fff;
        color: #fff;
      }

      &.btn-twitter:hover {
        background: $ch-sky-1;
      }
      &.btn-facebook:hover {
        background: $ch-blue-1;
      }
      &.btn-instagram:hover {
        background: $ch-brown-1;
      }
    }
  }
}


// Background patterns
.bg-pattern {
  background: url(#{$imgurl}/pattern/pattern_no.png) repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.bg-pattern-vertical {
  background-image: url(#{$imgurl}/pattern/pattern_vertical_dark.png);
}
.bg-pattern-diag {
  background-image: url(#{$imgurl}/pattern/pattern_diag_dark.png);
}
.bg-pattern-denim {
  background-image: url(#{$imgurl}/pattern/pattern_darkdenim.png);
}
