@charset "utf-8";

// Base
@import "base";

// ==================================================
// Main stylesheet

// base styles
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  // @include center-v;
  // height: 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;

  h1 {
    img {
      width: 60%;
      max-width: 300px;
    }
    span {
      font-size: 0;
    }
  }

  .info {
    margin: 4rem 0 2rem;
    color: $ch-gray-1;
    font-size: 1.8rem;
    letter-spacing: 2px;

    .lead {
      font-size: 2.2rem;
      font-weight: 700;
    }

    span {
      color: $ch-gray-2;
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }

  .links {
    .btn-ghost {
      margin: 0 5px 10px;
      border: 2px solid $ch-gray-1;
      color: $ch-gray-1;
      border-radius: 0;
      // padding: .6em 1.2em;
      font-size: 1.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all .3s;

      &:hover {
        border-color: #fff;
        color: #fff;
      }

      &.btn-twitter:hover {
        background: $ch-sky-1;
      }
      &.btn-facebook:hover {
        background: $ch-blue-1;
      }
      &.btn-instagram:hover {
        background: $ch-brown-1;
      }
    }
  }
}