<!-- <footer class="footer--exp">
  <div class="bg-layer">
    <img src="/assets/img/footer-01.svg" alt="The Muhibbain">
    <img src="/assets/img/footer-02.svg" alt="#LoveCintaMahabbah">
    <a href="https://www.facebook.com/InteamRecords"><img src="/assets/img/footer-07.svg" alt="Inteam Records"></a>
    <a href="https://www.facebook.com/sonymusicmy"><img src="/assets/img/footer-06.svg" alt="Sony Music (M)"></a>

    <hr>
    <ul class="footer-social">
      <li><a href="https://www.facebook.com/pages/The-Muhibbains">
        <img src="/assets/img/facebook-circle.svg" alt="Facebook">
        </a></li>
      <li><a href="https://twitter.com/Muhibbain">
        <img src="/assets/img/twitter-circle.svg" alt="Twitter">
      </a></li>
      <li><a href="http://instagram.com/themuhibbain">
        <img src="/assets/img/instagram-circle.svg" alt="Instagram">
      </a></li>
      <li><a href="http://www.youtube.com/user/TheMuhibbains">
        <img src="/assets/img/youtube-circle.svg" alt="YouTube">
      </a></li>
    </ul>

    <div class="footer-text">
      <p class="manager">Artiste Management +6019 283 2714 (Fariq Azmi)</p>
      <p class="copy">Developed &amp; designed by <a href="https://twitter.com/wansaleh">@wansaleh</a> &amp; <a href="https://twitter.com/frizdan">@frizdan</a></p>
    </div>
  </div>
</footer> --><!-- /footer -->
