<div class="container wrapper">
  <h1 class="wow fade-in" data-wow-duration="3s">
    <img src="/assets/img/logo-white.svg" alt="Wan Saleh">
    <span>Wan Saleh</span>
  </h1>

  <div class="info wow fade-in-down">
    <p>I'm a composer, arranger &amp; studio engineer from Malaysia.<br>
    <span>Drop me an email at me[at]wansaleh[dot]com.</span></p>
  </div>

  <div class="links">
    <a href="https://twitter.com/wansaleh" class="btn btn-ghost btn-twitter wow fade-in-up" data-wow-delay=".2s" target="_blank">Twitter
    </a><a href="https://facebook.com/wansaleh" class="btn btn-ghost btn-facebook wow fade-in-up" data-wow-delay=".4s" target="_blank">Facebook
    </a><a href="http://instagram.com/wansaleh" class="btn btn-ghost btn-instagram wow fade-in-up" data-wow-delay=".6s" target="_blank">Instagram</a>
  </div>
</div><!-- /.wrapper -->
