<div class="container wrapper">
  <div class="info">
    <p class="lead-1 wow fade-in-down">My name is Wan Saleh<br>
    <p class="lead-2 wow fade-in-down" data-wow-delay=".5s" >This is me <i class="fa fa-hand-o-down"></i><br>

    <h1 class="wow fade-in" data-wow-delay="1s" data-wow-duration="3s">
      <img src="/assets/img/wan.svg" alt="Wan Saleh">
      <span>Wan Saleh</span>
    </h1>
  </div>

  <div class="links">
    <p class="contact wow fade-in-up" data-wow-delay="1.2s">I'm a music producer, arranger &amp; studio engineer from Malaysia<br>
    <span>Drop me an email at <span class="email">me [at] wansaleh [dot] com</span></span></p>


    <a href="https://twitter.com/wansaleh" class="btn btn-ghost btn-twitter wow fade-in-up" data-wow-delay="2s" data-ripple target="_blank">Twitter
    </a><a href="https://facebook.com/wansaleh" class="btn btn-ghost btn-facebook wow fade-in-up" data-wow-delay="2.2s" data-ripple target="_blank">Facebook
    </a><a href="http://instagram.com/wansaleh" class="btn btn-ghost btn-instagram wow fade-in-up" data-wow-delay="2.4s" data-ripple target="_blank">Instagram</a>
  </div>
</div><!-- /.wrapper -->
