<div class="wrapper">
  <h1>
    <img src="/assets/img/logo-white.svg" alt="Wan Saleh">
    <span>Wan Saleh</span>
  </h1>

  <div class="info">
    <p>I'm a composer, arranger &amp; studio engineer from Malaysia.</p>
  </div>

  <div class="links">
    <a href="https://twitter.com/wansaleh" class="btn btn-ghost">Twitter</a>
    <a href="https://facebook.com/wansaleh" class="btn btn-ghost">Facebook</a>
    <a href="http://instagram.com/wansaleh" class="btn btn-ghost">Instagram</a>
  </div>
</div><!-- /.wrapper -->
